[submodule "jenkins"]
	path = jenkins
	url = https://github.com/AllianzDeutschlandAG/cidemo-jenkins.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/AllianzDeutschlandAG/cidemo-frontend.git
[submodule "pipeline-library"]
	path = pipeline-library
	url = https://github.com/AllianzDeutschlandAG/cidemo-pipeline-library.git
[submodule "auth-service"]
	path = auth-service
	url = https://github.com/AllianzDeutschlandAG/node-auth-mock
